:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  scroll-behavior: smooth;
}

body {
  font-family: "koho", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 8vh;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#ddd), to(#fff));
  background-image: linear-gradient(to right, #ddd, #fff);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #0468ff;
  font-weight: 600;
}

.navbar__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  color: #202222;
  cursor: pointer;
  position: relative;
  font-size: 2em;
}

.navbar__items li {
  width: 8em;
  text-align: center;
  padding: 0.6em 2em;
  border-radius: 100vw;
  position: relative;
  text-transform: uppercase;
}

.navbar__items li a {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #0270d6;
}

.navbar__items li a::after {
  content: "";
  position: absolute;
  border-radius: 100vw;
  width: 0;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#9003ee), to(#0675f3));
  background-image: linear-gradient(to right, #9003ee, #0675f3);
  left: -10px;
  bottom: -5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar__items li a::before {
  content: "";
  position: absolute;
  border-radius: 100vw;
  width: 3px;
  height: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9003ee), to(#0675f3));
  background-image: linear-gradient(to top, #9003ee, #0675f3);
  left: -10px;
  bottom: -5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar__items li:hover a {
  color: #2792f7;
}

.navbar__items li:hover a::after {
  width: 70%;
}

.navbar__items li:hover a::before {
  height: 100%;
}

.menubar {
  display: none;
  width: 30px;
  height: 42px;
  position: absolute;
  right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menubar > * {
  border: 2px solid #0277bb;
  height: 0;
  margin-block: 3px;
  border-radius: 100vw;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menubar:hover {
  cursor: pointer;
}

.menubar:hover > * {
  border-color: #3fadec;
}

.menubar--activate > * {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.heading {
  font-family: 'Poppins';
  font-size: 7em;
  position: relative;
  top: 15vh;
  text-align: center;
  color: #1e33ec;
  font-size: 72px;
  background: -webkit-linear-gradient(#9003ee, #0675f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 50vh;
  width: 50vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 15vh;
}

.form {
  height: 80px;
  overflow: hidden;
  position: relative;
}

.form .input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  color: #333;
  outline: none;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid #ccc;
  color: #666;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #2795fc;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.form .label-content {
  font-size: 2.2rem;
  position: absolute;
  bottom: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.form input:focus + label .label-content {
  font-size: 1.7rem;
  top: 0;
}

.form input:focus + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.form input:valid + label .label-content {
  font-size: 1.7rem;
  top: 0;
}

.form input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.form input:invalid + label::after {
  border-color: #f54343;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.track-btn {
  font-size: 3rem;
  font-family: 'Montserrat';
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
  width: 200px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
  height: 60px;
  align-self: flex-end;
  background-image: -webkit-gradient(linear, left top, right top, from(#9003ee), to(#0675f3));
  background-image: linear-gradient(to right, #9003ee, #0675f3);
  border-radius: 100vw;
  cursor: pointer;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 70vh;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 3.5rem;
  }
  .navbar__items {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 40vw;
    z-index: inherit;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee));
    background-image: linear-gradient(to top, #ddd, #eee);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar__items--activate {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .menubar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
/*# sourceMappingURL=main.css.map */